.container {
  padding: 52px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 52px);
}

.users-container {
  margin: 20px 0;
  padding: 16px;
  border: 1px solid #172554;
  background-color: #f0f9ff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
