.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 12px;
  padding-right: 8px;
  padding-left: 8px;
  width: 220px;
  cursor: pointer;
}

.tier-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  padding: 0px 8px;
  width: fit-content;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #0891b2;
  color: #fff;
  font-size: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
